body{
    font-family: cursive;
    background-color:azure;
}
input{
    border-radius: 5%;
    
    font-size: 20px;
}
h1{
    text-align: center;
}

button:hover {
    background-color: rgb(176, 146, 146);
}
button{
    font-size: larger;
    margin-top: 2%;

}
#cel{
    align-self: flex-end;
    margin-left: auto;
}